.generar {
  background: rgb(243, 243, 243);
  .titulo {
    color: white;
    background: rgb(19, 50, 85);
    padding: 0.4em 0.8em;
  }

  .elemento {
    margin: 1em;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.068);
    @media (max-width: 750px) {
      margin: 0.5em;
    }

    .content {
      padding: 1em;
      background: white;
    }
  }

  .mapa {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    #map-container {
      width: 100%;
      height: 100%;
      border: 1px solid rgb(7, 37, 119);

      .googleCuadro {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.4em;
        text-align: center;
        color: rgb(18, 37, 65);
        padding: 0.3em 1em;
      }
    }

    button.desh {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: "Poppins", sans-serif;
      padding: 0.5em 0.9em;
      background: rgb(0, 132, 255);
      border: none;
      outline: none;
      color: white;
      cursor: pointer;

      &:hover {
        background: rgb(0, 112, 218);
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .controles {
    textarea {
      width: 100%;
      height: 150px;
      resize: vertical;
    }
    textarea,
    input:not([type="color"]) {
      font-family: "Poppins", sans-serif;
      padding: 0.4em;
      background: none;
      border: 1.5px solid grey;
      outline: none;
    }

    input[type="color"] {
      background: none;
      border: 1.5px solid grey;
      margin-left: 1em;
    }

    label {
      display: block;
      margin-bottom: 0.5em;
    }

    .acciones {
      button {
        font-family: "Poppins", sans-serif;
        padding: 0.5em 0.9em;
        background: rgb(0, 132, 255);
        border: none;
        outline: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0.285);
        color: white;
        margin-top: 0.5em;
        cursor: pointer;

        &:hover {
          background: rgb(0, 112, 218);
        }

        &:not(:last-child) {
          margin-right: 1em;
        }
      }

      .save_err {
        margin-top: 1em;
        padding: 0.8em;
        background: rgb(255, 197, 197);
        color: rgb(90, 1, 1);
        border: 1px solid rgb(151, 0, 0);
        display: block;
        width: auto;
        font-size: 0.95em;
      }
    }
  }

  .poligonos {
    textarea {
      width: 100%;
      height: 150px;
      resize: vertical;
      font-family: "Poppins", sans-serif;
      padding: 0.4em;
      background: none;
      border: 1.5px solid grey;
      outline: none;
    }
    .botones {
      margin-top: 2em;

      h2 {
        font-weight: lighter;
        margin-bottom: 0.5em;
        font-size: 1em;
        color: white;
        background: rgb(19, 50, 85);
        padding: 0.4em 0.8em;
        margin: 0 -1em;
        margin-top: 0.5em;
      }
      .poligono {
        color: white;
        display: inline-block;
        padding: 0.5em 0.9em;
        cursor: pointer;
        opacity: 0.8;
        position: relative;
        margin-top: 0.5em;

        &:not(:last-child) {
          margin-right: 1em;
        }

        &:after {
          content: attr(title);
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) translateY(-90%);
          color: white;
          font-family: "Poppins", sans-serif;
          padding: 0.4em 0.6em;
          background: rgb(24, 24, 24);
          border-radius: 3px;
          white-space: nowrap;
          font-size: 0.8em;
          display: none;
        }
        &:before {
          content: "";
          background: rgb(24, 24, 24);
          width: 15px;
          height: 15px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) translateY(-7px) rotate(45deg);
          display: none;
        }

        &:hover {
          opacity: 1;

          &:after,
          &:before {
            display: block;
          }
        }
      }
    }

    .succ {
      padding: 0.5em 0.9em;
      background: rgb(0, 132, 255);
      border: none;
      outline: none;
      border-bottom: 3px solid rgba(0, 0, 0, 0.285);
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 1em;

      &:hover {
        background: rgb(0, 112, 218);
      }
    }

    @keyframes aparecer {
      0% {
        opacity: 0.3;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    span {
      font-size: 0.9em;
      color: rgb(0, 144, 211);
      animation: aparecer 5s ease;

      i {
        font-size: 1.4em;
        margin-left: 0.5em;
      }
    }
    small {
      display: block;
      margin-top: 0.5em;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.637);

    .contenedor {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      min-width: 340px;
      max-width: 100%;
      min-height: auto;

      @media (max-width: 600px) {
        text-align: center;
      }

      small {
        display: block;
        margin: 0.5em 0;
      }

      i {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5em;
        color: white;
        cursor: pointer;
      }

      .contenido {
        padding: 0.5em;
        textarea {
          display: block;
          height: 200px;
          max-width: 100%;
          resize: none;
          width: 100%;
          font-family: "Poppins", sans-serif;
          padding: 0.4em;
          background: none;
          border: 1.5px solid grey;
          outline: none;
        }
        button {
          font-family: "Poppins", sans-serif;
          padding: 0.5em 0.9em;
          background: rgb(0, 132, 255);
          border: none;
          outline: none;
          border-bottom: 3px solid rgba(0, 0, 0, 0.285);
          color: white;
          cursor: pointer;

          &:hover {
            background: rgb(0, 112, 218);
          }

          &:not(:last-child) {
            margin-right: 1em;
          }
        }

        p {
          margin: 1em auto;
          padding: 0.8em;
          background: rgb(255, 194, 194);
          color: rgb(90, 1, 1);
          border: 1px solid rgb(151, 0, 0);
          display: block;
          width: auto;
          font-size: 0.95em;
        }
      }
    }
  }
}
